:root {
    --primaryBrand: #4D5AE5;
    --darkColor: #2E2F42;
    --successColor: #31D0AA;
    --text: #434455;
    --subtleText: #8E8F99;
    --accentColor: #E7E9FC;
    --lightColor: #F4F4FD;
    --backgroungColor: #FFFFFF;

}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--backgroungColor);
    color: var(--text);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaryBrand);
}
.link.logo {
text-decoration: none;
}
.logo-span {
    color: var(--darkColor);
}
.list {
    list-style: none;
}
.page {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--darkColor);
}
.page.link {
    text-decoration: none;
}
.page:hover,
.page:focus {
    color:#404BBF; 
}
.header-contacts {
    font-style: normal;
}
.header-contact{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

}
/* .header-contacts a:hover,
.header-contacts a:focus {
    color: #4D5AE5; 
}*/

.header-contact.link{
text-decoration: none;
}
.header-contact:hover,
.header-contact:focus{
    color:#404BBF
}


.title {
    background-color: var(--darkColor);

}
    .title-header{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
        .title-button{
            background-color: #4D5AE5;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            cursor: pointer;
        }
            .title-button:hover,
            .title-button:focus {
             background-color: #404BBF;
        } 
.info-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--darkColor);
    }
    .list-p {
         font-size: 16px;
         line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
    }

.offer-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--darkColor);
}
.offers-images.link {
    text-decoration: none;

}
.team{
    background-color: #F4F4FD;
}
.team-li {
    background-color: var(--backgroungColor);
}
    .team-title{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--darkColor);
    }
    
.more-info{
    background-color: var(--darkColor);

}
    .logo-footer{
        font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--primaryBrand);
    }
   
    .logo-footer.link {
        text-decoration: none;
    }
        .logo-span-footer{
            color: var(--lightColor);
        }

.more-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.portfolio-contacts {
    font-style: normal;
}
.portfolio-contact {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}
.portfolio-contact.link {
    text-decoration: none;
}
.portfolio-contact:hover,
.portfolio-contact:focus {
    color: #404BBF;
}
.portfolio-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--lightColor);
    color: var(--primaryBrand);
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;

}
.images.link {
    text-decoration: none;
}
.portfolio-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--darkColor);
}